.avatar{
    display: inline-block;
    overflow: hidden;
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    &.avatar-sm{
        height: 2rem;
        width: 2rem;
    }
}

.indicator{
    display: inline-block;
    height: 10px;
    width: 10px;
}

.overflow-x-auto {
    overflow-x: auto !important;
}
.overflow-y-visible {
    overflow-y: visible !important;
}
.overflow-y-hidden {
    overflow-y: hidden !important;
}